@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans+Condensed:300,700');
@import url('./slider.css');

body {
    all: unset;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans Condensed','Noto Sans KR', sans-serif;
    background-color: #F0F0F0;
    font-weight: 300;
    position: relative;
}

p {
    margin-bottom: 0;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F0F0F0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.side-nav__title {
    color: #212121;
    font-size: 50px;
}

.side-nav__container {
    display: grid;
    /*grid-template-columns: auto auto auto auto auto auto auto;*/
    justify-content: space-around;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin: 60px;
}

.side-nav__icon {
    font-size:30px;
    cursor: pointer;
    background-color: #009688;
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    color: #FFEB3B;
    border-radius: 0 7px 7px 0;
}

.side-nav__container__item {
    position: relative;
    height: 200px;
    width: 150px;
    font-size: 14px;
    text-align: left;
}

.side-nav__container__item > .side-nav__container__item__delete {
    font-size: 25px;
    text-align: left;
    margin: 5px 0 0 15px;
    width: 20px;
    color: #F0F0F0;
    cursor: pointer;
}

.side-nav__container__item__data {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #FFFFFF;
    color: black;
    padding: 15px 0 15px 15px;
}

.side-nav__container__item__data > .side-nav__container__item__data__name {
    font-size: 18px;
    margin-top: 5px;
    overflow: hidden;
}

.side-nav .side-nav__close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
    cursor: pointer;
}

.container__title {
    font-size: 80px;
    font-weight: 800;
}

.container__form-container {
    margin-top: 12%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.col {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

label {
    width: 100%;
    font-size: 30px;
    text-align: left;
    margin: 10px;
}

.container__form-container__input {
    outline: 0;
    width: 100%;
    border: none;
    /*border-bottom: 3px solid#212121;*/
    padding: 5px 0 5px 20px;
    border-radius: 7px;
    font-size: 35px;
    background-color: #FFFFFF;
}

input:focus {
    background-color: #FFFFFF;
}

.non-valid {
    outline: 0;
    width: 100%;
    border-radius: 7px 7px 0 0;
    border: none;
    font-size: 35px;
    padding: 5px 0 5px 20px;
    border-bottom: 3px solid#FF0000 !important;
    color: #212121;
}

.container__form-container__fav-name-form-container {
    margin-top: 5%;
}

.container__form-container__label {
    text-align: center !important;
}

.btn-fav {
    font-size: 30px;
    font-weight: 300;
    margin-top: 5%;
    border-radius: 7px;
    padding: 10px 15px;
    background-color: #009688;
    border-color: #009688;
}

.btn-fav:hover {
    background-color: #FFEB3B;
    border-color: #FFEB3B;
}